:root {
    --color-uxPrimary: #3A405A;
    --color-uxSecondary: #94BFA7;
    --color-uxAccent: #FFF;
    --color-devPrimary: #94BFA7;
    --color-devSecondary: #3A405A;
    --color-devAccent: #262626;
    --color-portfolio: #000;
}

/* Typography */

html {
    /* This is equvalent to 10px or 1rem */
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: black;
}

.ux {
    color: var(--color-uxAccent);
}

.web {
    color: var(--color-devAccent);
}

h1 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
    /* Sometimes the fontstyle has built in margins so we should reduce the bottom margin to match the design as we see fit. */
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 4.778rem;
        margin-bottom: 1.7rem;
    }

    h2 {
        font-size: 3.318rem;
        margin-bottom: 0rem;
    }
}

/* Links */
a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.link-mobile {
    color: black;
    font-size: 3.2rem;
    margin-left: 2rem;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 4px;
    left: 0;
    background-color: black;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.link-active {
    display: inline-block;
    position: relative;
}

.link-active::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2.5px;
    bottom: 4px;
    left: 0;
    background-color: black;
}

@media screen and (min-width: 1024px) {
    a {
        color: var(--color-devAccent);
        font-size: 3.244rem;
    }

    .link-mobile {
        display: none;
    }

    .link-active::after {
        height: 2px;
        bottom: 5px;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon--functions {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icon--social {
    width: 30px;
    height: 30px;
}

.icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 19px;
}

.icon--box {
    border: 2px solid black;
    border-radius: 5px;
}

/* .icon-circle is getting warped because it is not getting enough space inside. So I will try to force the text to go to the next line at a certain point. */
.icon-container {
    display: flex;
    align-items: center;
    width: 278px;
    height: 86px;
    background: #CFE6F2;
    border-radius: 10px;
    font-weight: 300;
    line-height: 19px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, .25);
}

.icon-tool {
    font-family: gluten, Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-tool {
    margin: 0;
}

.icon-tool p {
    margin-top: 4px;
}

#close:hover {
    fill: #FF0000;
}

.hand {
    height: 30px;
    width: 30px;
    transform: scaleX(-1);
}

@media screen and (min-width: 1024px) {
    .icon--functions {
        width: 50px;
        height: 50px;
    } 

    .icon--social {
        width: 64px;
        height: 64px;
    }

    .hand {
        height: 36px;
        width: 36px;
    }
}

/* Container */
.container, .container_email {
    --b: 2px; /* Border thickness */
    --s: 20px; /* Length of corner */
    --g: 20px; /* Gap between content and border */
    --c: black;

    padding: calc(var(--b) + var(--g));
    background-image: 
        conic-gradient(from 90deg at top var(--b) left var(--b), #0000 25%, var(--c) 0),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), #0000 25%, var(--c) 0);
    background-position: 
        var(--_p, 0%) var(--_p, 0%),
        calc(100% - var(--_p, 0%)) calc(100% - var(--_p, 0%));
    background-size: var(--s) var(--s);
    background-repeat: no-repeat;

    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: all 1s;
    /*animation: role 1s forwards .3s;*/
}

.container span,.container_email span {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    font-weight: 700;
}

.show {
    width: 150px;
    height: 53px;
}

.show span {
    opacity: 1;
}

.outer-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 1.8rem;
    font-weight: 700;
}

.inner-heading {
    border: 0px solid #ddd;
    height: 2.6rem;
    overflow: hidden;
}

.rotate {
    position: relative;
    animation: spin 8s ease infinite;
}

@keyframes spin {
    0%,
    100% {
        top: 0;
    }    
    20% {
        top: 0;
    }
    25% {
        top: -2.7rem;
    }
    45% {
        top: -2.7rem;
    }
    50% {
        top: -5.4rem;
    }
    70% {
        top: -5.4rem;
    }
    75% {
        top: -8.1rem;
    }
    95% {
        top: -8.1rem;
    }
}

.placeholder {
    background-color: #3A405A;
    height: 50vh;
    padding-top: 20px;
    padding-left: 20px;
}

/* Buttons */
.btn {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;

    width: 233px;
    height: 48px;

    border: none;
    border-radius: 10px;

    box-shadow: 8px 8px 4px rgba(0, 0, 0, .3);
}

.btn-ux {
    color: var(--color-devAccent);
}

.btn-web {
    color: #fff;
    background-color: var(--color-devAccent);
    box-shadow: rgba(0, 0, 0, .25);
}

.btn-form {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 63px;
    width: 280px;
    border: 3px solid black;
    border-radius: 10px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;

    box-shadow: 5px 5px 4px rgba(0, 0, 0, .25);
}

@media screen and (min-width: 1024px) {
    .btn {
        width: 299px;
        height: 80px;

        font-size: 2.883rem;

        box-shadow: 12px 12px 4px rgba(0, 0, 0, .3);
    }

    .btn-form {
        height: 80px;
        width: 299px;
        font-size: 2.883rem;
    }
}

/* Profile Picture */
.mobile-profile {
    height: 160px;
    width: 160px;
    object-fit: fill;
    border-radius: 10px;
}

.desktop-profile {
    display: none;
}

.desktop-title {
    display: none;
}

@media screen and (min-width: 1024px) {
    .mobile-profile {
        display: none;
    }

    .desktop-profile {
        display: unset;
        width: 350px;
        height: 350px;
    }

    .desktop-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .desktop-title h1 {
        font-size: 4.778rem;
        font-weight: 700;
        margin-top: 16px;
        margin-bottom: 0;
    }

    .desktop-title h2 {
        font-size: 3.318rem;
        font-weight: 600;
        color: #626262;
    }
}

/* Form */
.show_email {
    width: 280px;
    height: 299px;
}

.show_email span {
    opacity: 1;
}

label {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    font-weight: 700;
    color: #939393;
}

/* Nav */
nav {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

nav h1 {
    display: inline;
    margin: 0;
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 2.4rem;
    color: var(--color-uxAccent);
}

nav svg {
    margin: 0;
    margin-top: 1.6rem;
    margin-right: 1.6rem;
    fill: var(--color-uxAccent);
}

/* Hero */
.ux-hero {
    display: grid;
    grid-template-columns: [first] auto [line2] auto [end];
    grid-template-rows: [row1-start] 11.9rem [row1-end] auto [third-line] auto [last-line];
    grid-template-areas: 
        "header content1"
        "header content2"
        "footer footer";
    padding-top: 10.2rem;
    height: calc(50vh - 10.2rem);
    background-color: var(--color-devSecondary);
}

.webdev-hero {
    height: 50vh;
    background-color: var(--color-devPrimary);
}

.title-hero {
    grid-area: header;
    justify-self: center;
    margin: 0;
    margin-bottom: 4.9rem;
    padding-right: 1rem;
    writing-mode: vertical-lr;
    text-wrap: nowrap;
    transform: rotate(180deg);

    font-size: 3.2rem;
    color: var(--color-uxAccent);
}

.ux-hero p {
    grid-area: content1;
    margin: 0;
    margin-left: 1rem;
    width: 25.6rem;
    color: var(--color-uxAccent);
}

.ux-hero button {
    grid-area: content2;
    margin-top: 3rem;
    margin-left: 1rem;
}

.ux-hero svg {
    grid-area: footer;
    justify-self: center;
    align-self: end;
    fill: var(--color-devPrimary);
    transform: rotate(180deg);
}