:root {
    --color-uxPrimary: #3A405A;
    --color-uxSecondary: #94BFA7;
    --color-uxAccent: #FFF;
    --color-devPrimary: #94BFA7;
    --color-devSecondary: #3A405A;
    --color-devAccent: #262626;
    --color-portfolio: #000;
}

/* -------------------- Typography -------------------- */
html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

/* -------------------- Links -------------------- */
a {
    text-decoration: none;
}

/* -------------------- Icons -------------------- */
.icon {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

svg {
    justify-self: center;
    align-items: center;
    grid-area: icon;
}

/* -------------------- Buttons -------------------- */
.btn {
    grid-area: button;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.8rem;
    width: 23.3rem;
    margin-left: 1rem;
    margin-top: 3rem;

    border: none;
    border-radius: 10px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.3);

    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover, .btn:active, .btn:visited, .btn:focus {
    text-decoration: none;
}

#buttonUX {
    color: var(--color-devAccentt);
    background-color: white;
}

#buttonWeb {
    color: white;
    background-color: var(--color-devAccent);
}

/* -------------------- Header -------------------- */
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 69px;
    width: 100vw;

    text-transform: uppercase;
}

#logo {
    margin: 0;
    margin-left: 2rem;
    margin-top: 1.8rem;

    font-size: 2.4rem;
    color: white;
}

#navIcon {
    margin-top: 1.6rem;
    margin-right: 1.6rem;

    fill: white;
}

/* -------------------- MAIN -------------------- */
main h1 {
    grid-area: title;
    padding-right: 1rem;
    justify-content: center;
    align-self: center;

    font-size: 3.2rem;
    font-weight: 700;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-wrap: nowrap;
}

main p {
    grid-area: description;
    width: 25.6rem;
    margin-left: 1rem;
    align-self: center;
}

.section-container {
    display: grid;
    height: 50vh;
    width: 100vw;
}

/* -------------- UX Section -------------- */
.section-ux {
    height: calc(50vh - 12.8vh);
    padding-top: 12.8vh;

    grid-template-columns: [first] auto [line2] auto [end];
    grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] 40px [last-line];
    grid-template-areas: 
        "title description"
        "title button"
        "icon icon";

    background-color: var(--color-uxPrimary);
}

.section-ux h1 {
    margin-bottom: 6rem;
    color: var(--color-uxAccent);
}

.section-ux p {
    color: var(--color-uxAccent);
}

#chevronUp {
    transform: rotate(180deg);

    fill: var(--color-devPrimary);
}

/* -------------- Web Dev Section -------------- */
.section-webdev {
    grid-template-columns: [first] auto [line2] auto [end];
    grid-template-rows: [row1-start] 40px [row1-end] auto [third-line] 1fr [last-line];
    grid-template-areas: 
        "icon icon"
        "title description"
        "title button";

    background-color: var(--color-devPrimary);
}

.section-webdev h1 {
    margin-bottom: 4rem;
    color: var(--color-devAccent);
}

.section-webdev p {
    margin-top: 6.35vh;
    color: var(--color-devAccent);
}

#chevronDown {
    fill: var(--color-devSecondary);
}