/* --------------- Typography --------------- */
html {
    font-size: 62.5%;

    background-color: #94BFA7;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

h1, h2, p {
    margin: 0;
}

/* --------------- Icons --------------- */
.icon {
    height: 40px;
    width: 40px;

    cursor: pointer;
}

/* ---------------- Links --------------- */
a {
    text-decoration: none;
}

/* --------------- Containers --------------- */
.container-web-goal, .container-web-toolkit, .container-web-work {
    --b: 2px; /* Border thickness */
    --s: 20px; /* Length of corner */
    --g: 10px; /* Gap between content and border */
    --c: black;

    padding: calc(var(--b) + var(--g));
    background-image: 
        conic-gradient(from 90deg at top var(--b) left var(--b), #0000 25%, var(--c) 0),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), #0000 25%, var(--c) 0);
    background-position: 
        var(--_p, 0%) var(--_p, 0%),
        calc(100% - var(--_p, 0%)) calc(100% - var(--_p, 0%));
    background-size: var(--s) var(--s);
    background-repeat: no-repeat;

    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: all 1s;
    /*animation: role 1s forwards .3s;*/
    
    justify-content: center;
    align-items: center;
}

.container-web-goal span, .container-web-toolkit span, .container-web-work span {
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    font-weight: 700;
}

.show-web-goal {
    height: 95px;
    width: 296px;
}

.show-web-toolkit {
    height: 480px;
    width: 296px;
}

.show-web-work {
    height: 520px;
    width: 296px;
}

.show-web-goal span, .show-web-toolkit span, .show-web-work span {
    opacity: 1;
}

/* --------------- Header --------------- */
header {
    position: fixed;
    top: 0;
    height: 69px;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    
    color: #262626;
    background-color: #94BFA7;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-transform: uppercase;
    z-index: 1;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

#logo {
    margin: 0;
    margin-left: 2rem;
    margin-top: 1.8rem;

    font-size: 2.4rem;
    color: #262626;
}

#logo a:visted {
    color: #262626;
}   

#navIcon {
    margin-top: 1.6rem;
    margin-right: 1.6rem;
    
    fill: #262626;
}

.desktop-links {
    display: none;
}

/* --------------- Main --------------- */
main {
    padding-top: 69px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #262626;
    background-color: #94BFA7;
}

.title {
    margin-bottom: 10px;

    text-align: center;
}

.section-margins {
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.section-title {
    margin-bottom: 10px;

    font-size: 2rem;
}

.container-web-goal {
    --c: #262626;

    text-align: center;
    line-height: normal;
    font-weight: normal;
}

.container-web-toolkit {
    --c: #262626;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.skills {
    height: 90px;
    width: 100%;

    font-family: "Bebas Neue", Inter;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .99);

    border-radius: 10px;
}

.gray-cover-web {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.frontend-background {
    background-image: url(../videos/frontend.gif);
    background-size: cover;
    background-position: 0% 35%;
}

.react-background {
    background-image: url(../videos/react.gif);
    background-size: cover;
    background-position: center;
}

.api-background {
    background-image: url(../videos/api.gif);
    background-size: contain;
    background-position: 5% 50%;
}

.sql-background {
    background-image: url(../videos/sql.gif);
    background-size: cover;
    background-position: center;
}

.seo-background {
    background-image: url(../videos/seo.gif);
    background-size: cover;
    background-position: center;
}

.container-web-work {
    --c: #262626;

    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.work {
    height: 160px;
    width: 280px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    font-size: 3.2rem;
}

.icon-mosh {
    width: 215px;
}

#gamehub {
    background-color: #121212;
    font-weight: 700;
    color: white;
}

#moshify {
    background-color: #000;
}

#CSEdge {
    color: black;
    background-color: #FE914C;

    font-family: "K2D", sans-serif;
}

#CSEdge span {
    opacity: 1;

    color: white;
}

.to-ux {
    width: 80px;
    transition: width 1s; /* Adjust timing as needed */
}

.to-ux.expand-width {
    width: calc(100vw - 80px) !important;
}

@media (min-width: 1025px) {
    /* ---------- Icons ---------- */
    #navIcon {
        display: none;
    }

    .desktop-links {
        display: flex;
        gap: 3.8rem;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 2.3rem;
        font-size: 2.5rem;
        font-weight: 700;
        color: #262626;
    }

    .desktop-links a {
        text-underline-offset: 8px;

        color: #262626;
    }

    .desktop-links a:visited {
        color: #262626;
    }

    .desktop-links a:focus, .desktop-links a:hover {
        text-decoration: underline;
    }

    /* ---------- Header ---------- */
    header {
        width: calc(100vw - 80px);
        margin-left: 80px;

        align-items: center;
    }

    #logo {
        margin-bottom: 0;
        margin-top: 0;
    }

    /* ---------- Main ---------- */
    .to-ux {
        height: 100vh;
        width: 80px;

        position: fixed;
        left: 0;
        top: 0;
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: center;

        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        background-color: #3A405A;
    }

    .to-ux svg {
        transform: rotate(90deg);

        fill: #94BFA7;
    }

    main {
        padding-left: 80px;
    }
}