<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chewy&family=Dosis:wght@700&family=Gluten:wght@300&family=Inter:wght@100..900&family=K2D:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../x.css" />
    <script defer type="module" src="../js/myScript.js"></script>
  </head>
  <body>
    <div class="container-contact">
      <div id="leftColumn">
        <svg class="icon-contact">
          <use xlink:href="../images/sprite.svg#linkedin"></use>
        </svg>
        <svg class="icon-contact">
          <use xlink:href="../images/sprite.svg#instagram"></use>
        </svg>
        <svg class="icon-contact">
          <use xlink:href="../images/sprite.svg#x-twitter"></use>
        </svg>
      </div>
      <div id="rightColumn">
        <svg id="githubIcon" class="icon-contact">
          <use xlink:href="../images/sprite.svg#github"></use>
        </svg>
        <svg class="icon-contact icon-function">
          <use xlink:href="../images/sprite.svg#expand-content"></use>
        </svg>
        <svg class="icon-contact">
          <use xlink:href="../images/sprite.svg#behance"></use>
        </svg>
        <svg id="dribbbleIcon" class="icon-contact">
          <use xlink:href="../images/sprite.svg#dribbble"></use>
        </svg>
      </div>
    </div>
  </body>
</html>
