<!-- Function icons for mobile -->
<svg id="close" class="icon--functions">
  <use xlink:href="images/sprite.svg#close"></use>
</svg>

<!-- Profile Icon -->
<div class="icon-container">
  <span class="icon-circle">
    <svg class="icon">
      <use
        xlink:href="images/sprite.svg#graduation-cap"
        style="fill: grey"
      ></use>
    </svg>
  </span>
  <span>Bachelor's of Science<br />in Computer Science</span>
</div>

<!-- Mobile icons for Contact Page -->
<svg class="icon--social">
  <use xlink:href="images/sprite.svg#linkedin"></use>
</svg>

<!-- Expand Button/Icon -->
<svg class="icon--social icon--box">
  <use xlink:href="images/sprite.svg#expand-content"></use>
</svg>

<!-- Hello -->
<span
  ><img
    src="images/icons8-waving-hand-emoji-48.png"
    alt="waving hand"
    style="height: 30px; width: 30px; transform: scaleX(-1)"
/></span>
